In [1]:
import pandas as pd
from pandas import json_normalize
import json
import ast as ast
import re

In [2]:
path=r"C:\Users\juanc.DESKTOP-LGMDQP1\OneDrive\Documentos\Proyecto Henry 01\Datos\australian_user_reviews.json"

In [3]:
lista=[]

with open(path,encoding="UTF-8  ") as archivo:
    for linea in archivo.readlines():
        lista.append(ast.literal_eval(linea))

In [4]:
df_reviews=pd.DataFrame(lista)
df_reviews

,user_id,user_url,reviews
0,76561197970982479,http://steamcommunity.com/profiles/76561197970...,"[{'funny': '', 'posted': 'Posted November 5, 2..."
1,js41637,http://steamcommunity.com/id/js41637,"[{'funny': '', 'posted': 'Posted June 24, 2014..."
2,evcentric,http://steamcommunity.com/id/evcentric,"[{'funny': '', 'posted': 'Posted February 3.',..."
3,doctr,http://steamcommunity.com/id/doctr,"[{'funny': '', 'posted': 'Posted October 14, 2..."
4,maplemage,http://steamcommunity.com/id/maplemage,"[{'funny': '3 people found this review funny',..."
...,...,...,...
25794,76561198306599751,http://steamcommunity.com/profiles/76561198306...,"[{'funny': '', 'posted': 'Posted May 31.', 'la..."
25795,Ghoustik,http://steamcommunity.com/id/Ghoustik,"[{'funny': '', 'posted': 'Posted June 17.', 'l..."
25796,76561198310819422,http://steamcommunity.com/profiles/76561198310...,"[{'funny': '1 person found this review funny',..."
25797,76561198312638244,http://steamcommunity.com/profiles/76561198312...,"[{'funny': '', 'posted': 'Posted July 21.', 'l..."
25798,LydiaMorley,http://steamcommunity.com/id/LydiaMorley,"[{'funny': '1 person found this review funny',..."

In [5]:
df_reviews=df_reviews.drop(["user_url"],axis=1)

In [6]:
df_reviews= df_reviews.explode("reviews")

In [7]:
df_reviews

                 user_id                                            reviews
0      76561197970982479  {'funny': '', 'posted': 'Posted November 5, 20...
0      76561197970982479  {'funny': '', 'posted': 'Posted July 15, 2011....
0      76561197970982479  {'funny': '', 'posted': 'Posted April 21, 2011...
1                js41637  {'funny': '', 'posted': 'Posted June 24, 2014....
1                js41637  {'funny': '', 'posted': 'Posted September 8, 2...
...                  ...                                                ...
25797  76561198312638244  {'funny': '', 'posted': 'Posted July 10.', 'la...
25797  76561198312638244  {'funny': '', 'posted': 'Posted July 8.', 'las...
25798        LydiaMorley  {'funny': '1 person found this review funny', ...
25798        LydiaMorley  {'funny': '', 'posted': 'Posted July 20.', 'la...
25798        LydiaMorley  {'funny': '', 'posted': 'Posted July 2.', 'las...

[59333 rows x 2 columns]

In [8]:
df_solo_reviews=json_normalize(df_reviews["reviews"])

In [9]:
df_reviews.reset_index(drop=True,inplace=True)

In [10]:
df_reviews_final=pd.concat((df_reviews.drop(columns=["reviews"]),df_solo_reviews),axis=1)

In [11]:
columns_to_drop=["posted","last_edited","funny"]
df_reviews_final=df_reviews_final.drop(columns_to_drop, axis=1)

In [12]:
df_reviews_final

,user_id,item_id,helpful,recommend,review
0,76561197970982479,1250,No ratings yet,True,Simple yet with great replayability. In my opi...
1,76561197970982479,22200,No ratings yet,True,It's unique and worth a playthrough.
2,76561197970982479,43110,No ratings yet,True,Great atmosphere. The gunplay can be a bit chu...
3,js41637,251610,15 of 20 people (75%) found this review helpful,True,I know what you think when you see this title ...
4,js41637,227300,0 of 1 people (0%) found this review helpful,True,For a simple (it's actually not all that simpl...
...,...,...,...,...,...
59328,76561198312638244,70,No ratings yet,True,a must have classic from steam definitely wort...
59329,76561198312638244,362890,No ratings yet,True,this game is a perfect remake of the original ...
59330,LydiaMorley,273110,1 of 2 people (50%) found this review helpful,True,had so much fun plaing this and collecting res...
59331,LydiaMorley,730,No ratings yet,True,:D
59332,LydiaMorley,440,No ratings yet,True,so much fun :D

In [13]:
def extraer_porcentaje(valor):
    if isinstance(valor, str): 
        coincidencia = re.search(r'\((\d+)%\)', valor)
        if coincidencia:
            return coincidencia.group(1)
    return valor


df_reviews_final['helpful'] = df_reviews_final['helpful'].apply(extraer_porcentaje)

In [14]:
df_reviews_final["helpful"].value_counts()

helpful
No ratings yet    30168
100                9841
0                  6112
50                 3429
67                 1640
                  ...
16                    8
2                     5
97                    4
98                    4
34                    3
Name: count, Length: 100, dtype: int64

In [15]:
df_reviews_final["helpful"].iloc[3]

'75'

In [16]:
df_reviews_final

,user_id,item_id,helpful,recommend,review
0,76561197970982479,1250,No ratings yet,True,Simple yet with great replayability. In my opi...
1,76561197970982479,22200,No ratings yet,True,It's unique and worth a playthrough.
2,76561197970982479,43110,No ratings yet,True,Great atmosphere. The gunplay can be a bit chu...
3,js41637,251610,75,True,I know what you think when you see this title ...
4,js41637,227300,0,True,For a simple (it's actually not all that simpl...
...,...,...,...,...,...
59328,76561198312638244,70,No ratings yet,True,a must have classic from steam definitely wort...
59329,76561198312638244,362890,No ratings yet,True,this game is a perfect remake of the original ...
59330,LydiaMorley,273110,50,True,had so much fun plaing this and collecting res...
59331,LydiaMorley,730,No ratings yet,True,:D
59332,LydiaMorley,440,No ratings yet,True,so much fun :D

In [17]:
df_reviews_final.to_parquet(r"C:\Users\juanc.DESKTOP-LGMDQP1\OneDrive\Documentos\Proyecto Henry 01\ETL\ETL_users_reviews.parquet",index=False)